@model List<Product>

<style>
    body {
        background: #020617;
        color: white;
        font-family: 'Segoe UI', sans-serif;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
    }

    /* PRODUCT GRID */
    .product-grid {
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }

    .product-card {
        background: linear-gradient(145deg, #020617, #1e293b);
        padding: 15px;
        border-radius: 12px;
        color: white;
        width: 220px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 0 10px rgba(0,255,255,0.2);
    }

        .product-card img {
            border-radius: 10px;
        }

        .product-card:hover {
            transform: scale(1.08);
            box-shadow: 0 0 20px #38bdf8;
        }

        .product-card h3 {
            margin: 10px 0;
        }

        .product-card p {
            color: #22c55e;
            font-weight: bold;
        }
</style>

<h2>🔥 Games in Selected Category</h2>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="product-card">
            <h3>@item.Name</h3>
            <p>₹@item.Price</p>
        </div>
    }
}
else
{
    <p style="text-align:center;">No products found in this category 😢</p>
}